/* Jumbotron (Health History)*/

.jumbotron {
    height: 500px;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.jumbotron a {
    color: #fff;
    font-weight:bold;
}

.jumbotron h1{
    color: #2E64FE;
    font-size: 46px;
    font-weight:bold;
    font-family: "Bradley Hand", serif;
}

.jumbotron p {
    color: #2E64FE;
    font-size: 20px;
    font-weight: bold;
    font-family: "Bradley Hand", serif;
}

/* Newsfeed (care providers and recipients)*/
.newsfeed {
    background-color:#fff;
}
