<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
		<title>
			MySearch thing
		</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body class='index'>
		<div class='container'>
		<div ng-app='mySearch' ng-controller='searchCtrl'>
			<header>
				<h1>Search</h1>
				<h2>Maybe it works</h2>
			</header>        
			<a  ng-href="main2.html"  target="_self">Advance Search</a>
			<a  ng-href="junk.html"  target="_self">Graphs</a>
			<section class='searchField'>          
				<form ng-submit='search()'>
					<input ng-model='searchTerm' type='text'>
					<input type='submit' value='Search!'> <br/>
						<div id="check">
							<input id="basicCheck" type="checkbox" ng-model="slt[0]" />
							<span class="valueItems"><strong>First:</strong> {{slt[0]}}</span><br />
							<input id="basicCheck" type="checkbox" ng-model="slt[1]" />
							<span class="valueItems"><strong>Last:</strong> {{slt[1]}}</span><br />
							<input id="basicCheck" type="checkbox" ng-model="slt[2]" />
							<span class="valueItems"><strong>Gender:</strong> {{slt[2]}}</span><br />
							<input id="basicCheck" type="checkbox" ng-model="slt[3]" />
							<span class="valueItems"><strong>Email:</strong> {{slt[3]}}</span><br />
							<input id="basicCheck" type="checkbox" ng-model="slt[4]" />
							<span class="valueItems"><strong>IP:</strong> {{slt[4]}}</span><br />
						</div>
					</form>
			</section>
			<p>
				Hits: {{hits.length}}
			</p>
			<section class='results'>
				<div class='no-results' ng-hide='hits.length'>No results</div>
				<article class='hit' ng-cloak ng-repeat='hit in hits'>
					<p>
						Name: {{hit.first_name}} {{hit.last_name}} </br>
						Gender: {{hit.gender}}</br>
						Email: {{hit.email}}</br>
						IP: {{hit.ip_address}}</br>
					</p>
				</article>
				<div class='load-more' ng-cloak ng-hide='allResults'>
					<a ng-click='loadMore()'>More...</a>
				</div>
			</section>
			
			<footer>

			</footer>
		</div>
		</div>
		<script src="bower_components/angular/angular.js" type="text/javascript"></script>
		<script src="bower_components/elasticsearch/elasticsearch.angular.js" type="text/javascript"></script>
		<script src="js/script3.js" type="text/javascript"></script>
	</body>
</html>
