<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.neilrowe.testapp"
        versionCode = "1"
        version = "1.0.0">
<name>MedVoice</name>
<author>Holly</author>
<preference name = "orientation" value = "portrait" />
<icon src="icon.png" platform="android" qualifier="ldpi" />
<icon src="icon.png" platform="android" qualifier="mdpi" />
<icon src="icon.png" platform="android" qualifier="hdpi" />
<icon src="icon.png" platform="android" qualifier="xhdpi" />
<icon src="icon.png" platform="android" qualifier="xxhdpi" />
<icon src="icon.png" platform="android" qualifier="fr-xxhdpi" />
    

<splash src="splash.png" platform="android" qualifier="ldpi" />
<splash src="splash.png" platform="android" qualifier="mdpi" />
<splash src="splash.png" platform="android" qualifier="hdpi" />
<splash src="splash.png" platform="android" qualifier="xhdpi" />
<splash src="splash.png" platform="android" qualifier="fr-xhdpi" />
<splash src="splash.png" platform="android" qualifier="port-xxhdpi" />
<splash src="splash.png" platform="android" qualifier="land-xxhdpi" />

</widget>